@model IEnumerable<Online_store_of_digital_electronics.Models.Products>

<div class="product-list__block">
    @foreach (Products product in Model)
    {
        decimal priceSale = (product.Price / 100) * (100 - product.Sale);
        <div class="product-card__block">
            <div class="card-img"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product"><img src="@product.Image" class="img-fluid rounded-start" alt="..."></a></div>
            <div class="card-ditails">
                <div class="card-name">
                    <h4 class="text-wrap"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product">@product.manufacturer.Name @product.Name</a></h4>
                </div>
                <div class="card-description">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product">
                        <p class="text-wrap text-truncate" style="max-height: 100px;" >@product.Description</p>
                    </a>
                </div>
            </div>
            <div class="card-button ">
                <div class="card-price float-start">
                    <div class="product-price"> @priceSale <small>@product.Price₽</small></div>
                </div>
                <div class="card-button-buy float-start">
                    @{
                        if (product.ProductOrder.Count == 0)
                        {

                            @await Html.PartialAsync("~/Views/Shared/_AddCartButton.cshtml", product)
                        }
                        else
                        {
                            foreach (ProductOrder productOrder in product.ProductOrder)
                            {
                              
                                @await Html.PartialAsync("~/Views/Shared/_ProductСounter.cshtml", product.ProductOrder.First())
                            }
                        }
                    }
                </div>

            </div>
        </div>
    }
</div>
