@model Online_store_of_digital_electronics.Models.Products
@{
    ViewData["Title"] = "Описание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>

    <div class="details-product__top-block">
        <div class="product-details__container">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="text-center"><img src="@Model.Image" class="img-responsive"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <h4 class="box-title mt-5">@Model.manufacturer.Name @Model.Name</h4>
                        <div class="specifications-min__block p-2">
                            <table class="table">
                                <tbody>
                                    @foreach (var specification in Model.Specifications.Take(4))
                                    {
                                        <tr style="font-size:14px;">
                                            <td>@specification.Title</td>
                                            <td>@specification.Content</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="#specifications" class="link-detailed">Все характеристики</a>
                        </div>
                        <div class="description-min__block p-2">
                            <p class="text-wrap text-truncate" style="max-height:195px;">
                                @Model.Description...
                            </p>
                            <a href="#description" class="link-detailed">Читать далее</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 d-block" style="margin-top:70px">
                        @{decimal priceSale = (Model.Price / 100) * (100 - Model.Sale); }
                            <div class="product-price" style="font-size:25px">
                                @priceSale₽ @if (Model.Sale > 0)
                                {<small>@Model.Price₽</small>}
                            </div>
                        @{
                            if (Model.ProductOrder.Count == 0)
                            {

                                @await Html.PartialAsync("~/Views/Shared/_AddCartButton.cshtml", Model)
                            }
                            else
                            {
                                foreach (ProductOrder productOrder in Model.ProductOrder)
                                {
                                    @await Html.PartialAsync("~/Views/Shared/_ProductСounter.cshtml", Model.ProductOrder.First())
                                }
                            }
                        }
                        <div class="company-logo__block" style="width: 100%; margin: 5px; border-radius: 20px;">
                            <figure>
                                <img src="@Model.manufacturer.Logo" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="product-details__container">
                <h3 class="box-title text-center" id="description">Описание</h3>
                <div class="card-body row">
                    <div class="description__block">
                        <p>
                            @Model.Description
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    @{ 
        List<Specifications> ListSpec = Model.Specifications.ToList();
    }
    <div class="product-details__container">
        <h3 class="box-title text-center" id="specifications">Характеристики</h3>
        <div class="card-body row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @for(int i = 0; i < ListSpec.Count/2; i++)
                            {
                                <tr>
                                    <td>@ListSpec[i].Title</td>
                                    <td>@ListSpec[i].Content</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            @for (int i = ListSpec.Count/2; i < ListSpec.Count; i++)
                            {
                                <tr>
                                    <td>@ListSpec[i].Title</td>
                                    <td>@ListSpec[i].Content</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>



