@model Online_store_of_digital_electronics.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_buyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_buyer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number_products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number_products)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery_method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery_method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_order">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
