@model IEnumerable<ProductOrder>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int number = 0;
    decimal SumPrice = 0;
}
<section>
    <div class="basket-page__content">
        <div class="basket-page__left-block">
            @if (Model == null)
            {
                <h2>Корзина Пуста</h2>
            }
            else
            {

                @foreach (ProductOrder product in Model)
                {
                    decimal priceSale = (product.Product.Price / 100) * (100 - product.Product.Sale);
                    number += product.NumberProductsTheOrder;
                    SumPrice += priceSale * product.NumberProductsTheOrder;

                    <div class="card rounded-3 mb-4" id="@product.Id_product">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product">
                                    <img src="@product.Product.Image" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </a>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-4">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product">
                                        <p class="lead fw-normal mb-2">@product.Product.manufacturer.Name @product.Product.Name</p>
                                    </a>
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product">
                                        <p class="text-wrap text-truncate" style="max-height: 195px">@product.Product.Description</p>
                                    </a>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    @await Html.PartialAsync("~/Views/Shared/_ProductСounter.cshtml", product)
                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <h5 class="mb-0">
                                        <div class="product-price"> @priceSale₽ <small>@product.Product.Price₽</small></div>
                                    </h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1">
                                    <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#Making" data-ajax-mode='replace' data-ajax-begin="DeleteCard(@product.Id_product)" data-ajax-url="@Url.Action("DeleteToBasket","Orders")">
                                        <input type="hidden" id="Id" name="Id" value="@product.Id_product" />
                                        <button type="submit" style="padding: 0; border: none; font: inherit; color: inherit; background-color: transparent;">
                                            <i class="fas fa-trash fa-lg nav-icon text-danger"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                }}
        </div>
        <div class="basket-page__right-block" id="Making">
            <div class="card mt-1">
                <div class="card-header py-3">
                    <h5 class="mb-0">Краткие сведения</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Товары
                            <span>@number</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Доставка
                            <span>Бесплатна</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Общая сумма</strong>
                                <strong>
                                    <p class="mb-0">(Включая НДС)</p>
                                </strong>
                            </div>
                            <span><strong>@SumPrice₽</strong></span>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        Перейти к оформлению заказа
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    function DeleteCard(id) {
        var div = document.getElementById(id);
        div.remove();
    }
</script>


