@model Orders
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int number = 0;
    decimal SumPrice = 0;
}
<section>
    <div class="basket-page__content">
        <div class="basket-page__left-block">
            @if (Model == null)
            {
                <h2>Корзина Пуста</h2>
            }
            else
            {

                @foreach (Products product in Model.Products)
                {
                    number++;
                    SumPrice += product.Price;

                    <div class="card rounded-3 mb-4" id="@product.Id_product">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <img src="@product.Image" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-4">
                                    <p class="lead fw-normal mb-2">@product.Name</p>
                                    <p>@product.Description</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control form-control-sm" />

                                    <button class="btn btn-link" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <h5 class="mb-0">
                                        <div class="product-price"> @product.Price₽ <small>@{decimal x = product.Price + 2000;}@x₽</small></div>
                                    </h5>
                                    <form action="@Url.Action("addToBasket", "Home")" method="post" enctype="multipart/form-data">
                                        <input type="hidden" id="Id" name="Id" value="1" />
                                        <button type="button" onclick="submitData(@product.Id_product)">
                                            <i class="fas fa-trash fa-lg nav-icon"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                                            }}
        </div>
        <div class="basket-page__right-block">
            <div class="card mt-1">
                <div class="card-header py-3">
                    <h5 class="mb-0">Краткие сведения</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Товары
                            <span>@number</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Доставка
                            <span>Бесплатна</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Общая сумма</strong>
                                <strong>
                                    <p class="mb-0">(Включая НДС)</p>
                                </strong>
                            </div>
                            <span><strong>@SumPrice₽</strong></span>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        Перейти к оформлению заказа
                    </button>
                </div>
            </div>
        </div>
</section>

<script>
    function submitData(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteToBasket", "Orders")',
            data: { "id": id }
        }).done(function (data) {
                @{number--;}
             
                    var div = document.getElementById(id);
                    div.remove();
            });
    }
</script>