@model Buyers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.FullName</h5>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa fa-vk fa-lg" style="color: #55acee;" aria-hidden="true"></i>
                                <p class="mb-0">не привязан</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">не привязан</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">не привязан</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0">@Model.FullName</p>
                            </div>
                            <div class="col-sm-1">
                                <i class="fa-solid fa-pen-to-square nav-icon" style="font-size:22px;" role="button" data-bs-toggle="modal" data-bs-target="#ModalEditProfile"></i>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Почта</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0"> @Model.UserName</p>
                            </div>
                            <div class="col-sm-1">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Телефон</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                            <div class="col-sm-1">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Адрес</p>
                            </div>
                            <div class="col-sm-8">
                                <p class="text-muted mb-0">@Model.Geofence</p>
                            </div>
                            <div class="col-sm-1">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Пароль</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0">**********</p>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn btn-outline-primary" role="button" asp-controller="Account" asp-action="EditPassword">Сменить пароль</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1"><a asp-controller="Orders" asp-action="ShoppingСart">Текущий заказ</a></span>
                                </p>
                                @await Html.PartialAsync("~/Views/Shared/_TableProduct.cshtml", Model.Orders.FirstOrDefault(o => o.Status == "Оформление"))
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">Мои заказы</span>
                                </p>
                                @await Html.PartialAsync("~/Views/Shared/_TableOrders.cshtml", Model.Orders)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="modal fade" id="ModalEditProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактировать информацию о вас</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="post" asp-controller="Account" asp-action="EditProfile">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c" asp-for="FullName">Имя</label>
                            <input asp-for="FullName" type="text" id="form3Example1c" class="form-control" value="@Model.FullName" autocomplete="off" />
                            <span asp-validation-for="FullName"></span>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c" asp-for="UserName">Почта</label>
                            <input asp-for="UserName" type="email" id="form3Example3c" class="form-control" value="@Model.UserName" autocomplete="off" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa-solid fa-mobile-screen fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c" asp-for="PhoneNumber">Телефон</label>
                            <input asp-for="PhoneNumber" type="tel" id="form3Example4c" class="form-control" value="@Model.PhoneNumber" autocomplete="off" />
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa-solid fa-location-dot fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4cd" asp-for="Geofence">Адрес</label>
                            <input asp-for="Geofence" type="text" id="form3Example4cd" class="form-control" value="@Model.Geofence" autocomplete="off" />
                            <span asp-validation-for="Geofence"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button class="btn btn-primary btn-lg">Сохранить изменения</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
