@model Online_store_of_digital_electronics.Models.ProductCategory

<section>
    <h1>@Model.Name</h1>
    <div class="swiper__container">
        <div class="swiper-btn leftNav"><i class="fa-solid fa-arrow-left arrow"></i></div>
        <div class="swiper-btn rightNav"><i class="fa-solid fa-arrow-right arrow"></i></div>

        <div class="main-slider swiper">
            <div class="swiper-wrapper">
                @foreach (Products product in Model.Products.Take(20))
                {
                    decimal priceSale = (product.Price / 100) * (100 - product.Sale);
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="product-img">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product"><img src="@product.Image" class="card-img-top" alt="..."></a>
                            </div>
                            <div class="product-details">
                                <h4 class="text-wrap"><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product">@product.manufacturer.Name @product.Name</a></h4>
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id_product"><p class="text-wrap">@product.Description</p></a>
                            </div>
                            <div class="product-details-button  d-flex justify-content-between align-items-center">
                                <div class="product-price">@priceSale₽ <small>@product.Price₽</small></div>
                                @{
                                    if (product.ProductOrder.Count == 0)
                                    {

                                        @await Html.PartialAsync("~/Views/Shared/_AddCartButton.cshtml", product)
                                    }
                                    else
                                    {
                                        foreach (ProductOrder productOrder in product.ProductOrder)
                                        {
                                            @await Html.PartialAsync("~/Views/Shared/_ProductСounter.cshtml", product.ProductOrder.First())
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>